.input{
  height: 45px;
  width: 100%;

  padding: 0 10px;

  line-height: 45px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, .7);

  background-color: var(--color-bg);
  border-radius: var(--border-radius);
}



.button {
  --border-color: #E7E8E9;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding);
  padding: 0 30px;

  height: 45px;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;

  border-radius: var(--border-radius);
  box-sizing: border-box;
  transition: opacity .3s;

  &:hover{
    opacity: .90;
  }

  &--grey{
    color: rgba(255, 255, 255, 0.8);
    background-color: var(--color-inner-bg);

    & i {
      opacity: 0.8;
    }
  }

  &--colored {
    background-color: var(--color-theme);
    color: #fff;
  }

  &__icon {
    width: 28px;
    height: 28px;

    fill: #fff;
  }
}

.button_check{
  position: relative;
  color: #ffffff;

  &__h{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
  }

  &__select {
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;

    font-weight: 500;
    font-size: 16px;
    color: #fff;

    background-color: var(--color-inner-bg);
    border-radius: var(--border-radius);
    z-index: 1;

    &__checkbox{
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    &__toggle{
      position: absolute;
      top: 5px;
      left: 5px;

      width: calc(50% - 5px);
      height: 40px;
      background-color: var(--color-bg);
      border-radius: var(--border-radius);
      transition: transform .6s ease-in-out;
      z-index: -1;
    }
    &__checkbox:checked ~ &__toggle{
      transform: translateX(100%);
    }

    &__checkbox:not(:checked) ~ &__h[data-protocol='vless']{
      color: var(--color-font-active);
    }

    &__checkbox:checked ~ &__h[data-protocol='ss']{
      color: var(--color-font-active);
    }

    &__h{
      width: 50%;

      text-align: center;
      font-size: 20px;
      pointer-events: none;
      transition: color .6s .3s ease-in-out;
    }
  }
}

.social_link{
  text-align: center;
  font-size: 14px;
  text-decoration: underline;
  color: var(--color-font-link);
}

.icon__stroke{
  stroke: #fff;
}
