// pos > display > size > font > view > anim > other

.content {
    font-family : Roboto, sans-serif;
    background: var(--color-bg);
    color: #fff;
    min-height: 100vh;
    box-sizing: border-box;
}

.link_wrapper{
    display: none;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 30px;

    &--middle{
        margin-bottom: 10px;
    }

    &:first-child{
        display: flex;
    }
}

.test_wrapper{
    position: relative;
    display: flex;
    flex-direction: column;

    max-width: 768px;
    min-height: 100vh;
    padding: var(--padding);
    margin: 0 auto;

    box-sizing: border-box;
}

.log {
  position: absolute;
  left: 10px;
  bottom: 10px;
  overflow: hidden;
  max-width: 50%;
  white-space: nowrap;
  font-size: 10px;
  padding: 6px;
}

.section {
    position: relative;
    padding: 0 var(--padding-Content) var(--margin-B) ;
    box-sizing: border-box;
    min-height: 100vh;

    @media screen and (min-width: $notebook){
    }

    &__content {
        position : relative;
        height: 100%;
        z-index: 1;
        box-sizing: border-box;

        &__bg {
            position : absolute;
            top      : 0;
            bottom   : 0;
            right    : 0;
            left     : 0;


            & .icon {
                position : absolute;
            }
        }
    }

    &__bg {
        position : absolute;
        top      : 0;
        bottom   : 0;
        right    : 0;
        left     : 0;
        overflow : hidden;
    }
}


@media(max-width : 992px) {
}

@media(max-width : 600px) {
}


@media only screen and (max-width : 1440px) {
}

@media only screen and (max-width : 1280px) {
}

@media only screen and (max-width : 960px) {

}

@media only screen and (min-width : $tablet) {
    .test_wrapper{
        min-height: calc(100vh - 80px);
        border-radius: 10px;
        border: 2px solid var(--color-theme);
    }
    .content {
        padding: 40px 0;
    }
}

@media only screen and (max-width : 480px) {
}











